body {
  font-family: "Inconsolata", monospace;
  background: #89b2d3;
}
.container {
  position: relative;
  text-align: center;
  left: 20px;
  right: 20px;
  max-width: 500px;
}
.search-form {
  margin-bottom: 10px;
  margin-top: 40px;
}
.card {
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px;
}

#current-location-button {
  text-align: right;
  margin-top: 10px;
  margin-left: 374px;
  background: #a2c11c;
  border-color: #a2c11c;
}

h2 {
  opacity: 0.6;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
  color: #1c5f77;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.7;
}
.weather-forecast-temp {
  font-size: 14px;
}
